<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 1自启动，其他不自启动-->
		<add key="IsAutoStart" value="0" />
		<!-- 原图Jpeg压缩质量 ,默认75-->
		<add key="JpegQuality" value="85" />
		<!-- 裁剪图Jpeg压缩质量 ,默认75-->
		<add key="CutImgJpegQuality" value="100" />
		<!--本地图片路径-->
		<add key="CacheFolder" value="D:/HY/" />
		<!--数据留存地址-->
		<add key="RepositoryAddr" value="http://192.168.110.55:22975/api/repoExtend/add" />
		<!--工作空间ID-->
		<add key="ProjectId" value="001" />
		<!--数据仓库ID-->
		<add key="BucketUnique" value="9665b1ec-6dee-4018-8ecf-0529b693d2c3" />
		<!--设备ID-->
		<add key="DeviceId" value="HY-5G-APP-1" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
